body{
    height: 100%;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
  }

html{
    height:100%;
}

audio{
    display:block;
}

#viz-container{
    margin-top: 2em;
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: local('Gilroy-ExtraBold'), url(./assets/font/Gilroy-ExtraBold.otf) format('woff');
  }

  #viz-container{
      margin-left: 100px;
  }

  #title{
    max-width: 500px;
    text-align: center
}

#text-container{
    width: 500px;
    position: absolute;
    left: 700px;
    background-color:#212225;
    padding: 15px;
    padding-top: 0px;
    border-radius: 30px;
    
}

#text-container>p{
    color: #B3B3B3;
    font-weight: 300;
    margin-top: 5px
}

#text-container>h2{
    color: #ffffff;
    margin-bottom: 5px
}

.controls{
    margin-top: 50px;
    display: inline-flex;
    width: 700px;
}

audio{
    width: inherit;
}


.controls > audio, .controls > button{
    display: inline-block;
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: local('Gilroy-ExtraBold'), url(./assets/font/Gilroy-ExtraBold.otf) format('woff');
  }

  button{
    border-radius: 50px;
    width: 150px;
    height: 50px;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    box-shadow: 0 0 0 2pt #212225;
    color: #212225;
    align-items: center;
    border-style: none;
    margin-right: 10px;
  }

  button:hover{
    background: #212225;
    color: #B3B3B3;
    cursor: pointer;
}

#peaks-viz{
    width: 700px;
}